python-telegram-bot
SQLAlchemy
psycopg[binary]
pandas
numpy
statsmodels
scikit-learn
feedparser
beautifulsoup4
cloudscraper
tenacity
python-dateutil
robotexclusionrulesparser
uvloop; platform_system != 'Windows'
pydantic
